/* Global
   ========================================================================== */
$hundred : 100%;

/* Media Queries
   ========================================================================== */
$mobileScreen : 12em;
$tabletScreen : 24em;
$desktopScreen : 48em;

/* Fonts
   ========================================================================== */

%primaryFont {
	font-family: sans-serif;
}